.div_About {
    border: 1px solid black;
    text-align: center;
    margin-left: 5px;
    padding: 20px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px black;
}

.About {
    margin-top: -30px;
    z-index: 1000;
}

.About i {
    font-weight: 600;
    font-size: 3rem;
    color: #ccfbf1;
}

.infos_Bib {
    margin-top: 60px;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading h2 {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    color: #2a2a2a;
    line-height: 32px;
    letter-spacing: -0.5px;
}

@media (min-width: 576px) {
    .section-heading h2 {
        font-size: 34px;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: auto;
    }
}

.section-heading h2 em {
    color: #ccfbf1;
    font-style: normal;
    padding-left: 100px;
    position: relative;
}

.section-heading h2 em::before {
    width: 80px;
    height: 2px;
    background-color: #ccfbf1;
    content: '';
    position: absolute;
    left: 0;
    top: 22px;
}

.infos_Bib img {
    border-radius: 10px;
}

.infos_right {
    margin-left: 20px;
}

.infos_right h3 {
    margin-top: 50px;
}

.infos_right p {
    text-align: justify;
    width: 80%;
}

.titre_question {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titre .bx {
    font-size: 2rem;
    color: #ccfbf1;
}

.titre_question p {
    padding-top: 15px;
}

.titre {
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.Question_reponse {
    margin-top: 20px;
}

.Question_reponse p {
    font-weight: 600;
}

.Question_reponse hr {
    padding-bottom: 20px;
}

.section_bib {
    margin-bottom: 30px;
}